@font-face {
    font-family: Roboto;
    src: url(../Font/Roboto-Light.ttf)
}

body {
    background-image: url('../IMG/Ilustration/2787860.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
}
body > a {
    position: absolute;
    bottom: 1%;
    right: 0.5%;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial;
    font-weight: lighter;
}

@media only screen and (max-device-width: 1750px) {
    #li4 {
        background-color: #2ea6d2;
        color: white;
    }
    #sectionPrincipal {
        width: 35.5%;
        background-color: rgba(255, 255, 255, 0.85);
        height: 550px;
        border-radius: 5px;
        border-bottom: 3px solid #db5645; 
        box-shadow: -2px 4px 6px rgba(22, 22, 22, 0.35);
        align-self: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 60px;
    }
    #h1titulo {
        background: #2ea6d2;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 20px;
        color: #fff;
        padding: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    #buttonLocation {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 1%;
        top: 1.5%;
        cursor: pointer;
    }
    #formulario {
        margin: 10% 14.5%;
    }
    #formulario * {
        margin-left: 9.5%;
    }
    .inputFormat {
        border: 1px solid #222;
        padding: 5px;
        border-radius: 6px;
        background-color: #fefefe;
        color: #333;
        font-size: 13px;
        width: 80%;
        height: 20px;
        margin-top: 4.5%;
        text-align: center;
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }
    .inputFormat:focus {
        outline: none !important;
    }
    #inputAssunto {
        height: 100px;
        resize: none;
    }
    .buttonClass {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: none;
        top: 65%;
        position: absolute;
    }
    #buttonLimpar {
        background-color: #df7b09;
        left: 5%;
    }
    #buttonVoltar {
        background-color: #db5645;
        left: 30%;
    }
    #buttonEnviar {
        background-color: #2ea6d2;
        left: 55%;
    }
    .buttonClass {
        text-align: center;
        color: #fefefe;
        font-weight: lighter; 
        text-align: center;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    footer#footerRodape {
        background-color: #2ea6d2;
        width: 100%;
        height: 250px;
        position: relative;
        bottom: 0;
        margin-top: 6.5%;
    }
    #divRodape {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #1e6e96;
        alt: 'Negócio vetor criado por freepik - br.freepik.com';
        background-image: url(../IMG/2968383.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position-y: 200px;
        background-position-x: 250px;
        border-top: 5px solid #2ea6d2;
    }
    #divRodape #divRodapeSocialMidia {
        position: absolute;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        top: 2%;
        /*right: 7.7%;*/
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2px;
    }
    #divRodape #divRodapeSocialMidia img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    #divRodape #divRodapeSocialMidia #direitosParagrafo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        margin: 0 !important;
        padding: 0 !important;
    }
    #divLogoRodape {
        position: absolute;
        top: 2%;
        left: 5.5%;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    #divLogoRodape a {
        position: absolute;
        top: 0;
        left: 0;
    }
    #divLogoRodape img {
        position: absolute;
        top: 0;
        left: 2%;
        width: 50px;
        height: 50px;
    }
    #divLogoRodape a p {
        position: absolute;
        top: 1%;
        left: 7%;
        color: #575858;
        font-size: 16px;
        font-weight: lighter;
        margin: 6px 0 0 10px;
        padding: 0;
        padding: 0px 0px 0px 50px;
        text-indent: 0;
        line-height: 1.2;
    }
    #divRodapeInfo {
        width: 87%;
        height: 75%;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        top: 65%;
        left: 5.2%;
        transform: translateY(-50%);
        border-radius: 5px;
    }
    #divRodapeInfo li {
        width: 235px;
        height: 68;
        display: inline-block;
        top: 0;
        margin-left: 5px;
        padding: 5px;
        border-left: 1px solid #555;;
    }
    #divRodapeInfo li h3 {
        padding: 2px 0px;
        font-size: 14px;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #001016;
        cursor: pointer;
    }
    #divRodapeInfo li h4 {
        font-size: 13px;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 200;
        color: #00161f;
        margin-left: 10px;
        padding: 1px;
    }
}


@media only screen and (max-device-width: 1024px) {
    #sectionPrincipal {
        width: 70%;
        height: 600px;
        margin-top: 60px !important;
        border: unset;
    }
    #buttonLimpar {
        background-color: #df7b09;
        left: 11%;
    }
    #buttonVoltar {
        background-color: #db5645;
        left: 34%;
    }
    #buttonEnviar {
        background-color: #2ea6d2;
        left: 56%;
    }
}









@media only screen and (max-device-width: 768px) {
    body {
        background-position-x: -200px !important;
        background-position-y: 0px !important;
    }
    nav ul a img{
        display: none;
    }
    .toggleMenu {
        display: block !important;
        top: 0 !important;
    }

    nav ul {
        display: none;
        margin-top: 30px !important;
    }
    nav ul a {
        display: block;
    }
    nav ul a p {
        display: none !important;
    }
    #sectionPrincipal {
        width: 50%;
        height: 450px;
    }
    #buttonEnviar {
        right: 0% !important;
    }
    #sectionPrincipal h1 {
        border-radius: unset;
    }
    #formulario {
        position: absolute;
        width: 90%;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
    .inputFormat {
        width: 90%;
        margin: 0 !important;
        margin-left: 3.5% !important;
        margin-top: 20px !important;
    }
    .buttonClass {
        margin-top: 100px;
        width: 65px;
    }
    #divRodape #divRodapeSocialMidia {
        top: 2%;
        right: 30%;
        margin-left: 42.5%;
        z-index: 1;
    }
    #divRodape {
        background-position-y: 130px;
        background-position-x: -100px;
    }
}







@media only screen and (max-device-width: 414px) {
    nav ul  {
        text-align: center;
    }
    nav ul a img {
        display: none;
    }
    nav ul a li {
        font-size: 14px;
        padding: 5px 10px !important;
        line-height: 20px;
    }
    #divRodape {
        height: 400px !important;
        background-position-x: -180px;
        background-position-y: 100px;
    }
    #divRodapeInfo {
        top: 56% !important;
        height: 82%;
    }
    #divRodape #divRodapeSocialMidia {
        top: 2%;
        right: 30%;
        margin-left: 37.5%;
        z-index: 1;
    }
    #sectionPrincipal {
        width: 100%;
        height: 500px;
        left: 0;
        transform: unset;
        margin-top: 33px !important;
        border: unset;
    }
}








@media only screen and (max-device-width: 411px) {
    #divSlide {
        height: 300px !important;
    }
    #divAprenderProgramar {
        top: 20.5% !important;
    }
}







@media only screen and (max-device-width: 375px) {
    nav ul  {
        text-align: left;
    }
    nav ul a li {
        font-size: 13px;
        font-weight: lighter !important;
        line-height: 20px;
    }
    #divRodapeInfo {
        width: 280px;
    }
    #divRodape #divRodapeSocialMidia {
        margin-left: 35.5%;
        top: 2.5%;
    }
    #divRodape #divRodapeSocialMidia img{
        width: 45px;
        height: 45px;
    }
    #divRodape {
        margin-top: -20px;
    }
}




@media only screen and (max-device-width: 360px) {
    nav ul  {
        text-align: center;
    }
    nav ul a li {
        font-size: 12px;
        font-weight: lighter !important;
        padding: 5px !important;
        line-height: 20px;
    }
}





@media only screen and (max-device-width: 325px) {

}





@media only screen and (max-device-width: 320px) {
    nav ul  {
        text-align: center;
    }
    nav ul a li {
        font-size: 10px;
        font-weight: 500;
        padding: 5px !important;
        line-height: 20px;
    }
}
