@font-face {
    font-family: Roboto;
    src: url(Font/Roboto-Light.ttf)
}

@media only screen and (max-device-width: 1750px) {
    #li1 {
        color: #2ea6d2;
    }
    body {
        font-family: Roboto, Arial, 'Open Sans', 'Helvetica Nueue', sans-serif !important;
        background-color: #f9fafa;
        ;
    }
    #divSlide {
        margin-top: 45px;
        width: 100%;
        height: 555px;
        position: relative;
        background: url('../IMG/two-children-looking-up-2305192.jpg');
        background-size: cover;
        background-position-y: -200px;
        background-repeat: no-repeat;
    }
    #divSlide div {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 166, 210, 0.1);
    }
    #divSlide div #tituloCover {
        position: absolute;
        top: 50%;
        font-size: 45px;
        font-weight: 500;
        font-family: "Opens Sans", Arial, "sans serif";
        color: white;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
    }
    div#contentorPrincipal {
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #videoAprenderProgramar {
        position: relative;
        left: 0;
        border-radius: 0 5px 5px 0;
        width: 60%;
        margin-left: -74px;
    }
    #divAprenderProgramar {
        height: 495px;
        width: 88%;
        position: relative;
        left: 5.5%;
        top: 3.5%;
        padding: 20px 0px;
    }
    #divConteudoPrincipal {
        width: 43%;
        height: auto;
        right: 0;
        position: absolute;
        top: 1%;
    }
    h1, h2 {
        font-family: Roboto, Arial, 'Open Sans', 'Helvetica Nueue', sans-serif;
        color: #505150;
        font-size: 25px;
        font-weight: 700;
        padding: 15px 0;
    }
    h2 {
        font-size: 20px;
    }
    #h1AreaActuacao {
        position: relative;
        top: -60px;
        text-align: center;
        font-size: 40px;
    }
    p {
        color: #444 !important;
        font-weight: lighter;
        font-family: Roboto;
        text-align: justify;
        line-height: 1.5;
        padding: 10px;
        font-size: 15px;
        font-weight: lighter;
        text-indent: 15px;
        line-height: 1.7;
        margin: 0 0px 32px 5px;
    }
    #divConteudoPrincipal>p {
        margin: 0;
    }
    #divConteudoPrincipal>h2 {
        color: #505150 !important;
        padding: 25px 20px;
    }
    #divConteudoPrincipal>ul>li {
        font-family: Roboto;
        font-size: 14px;
        color: #444;
    }
    #divConteudoPrincipal ul li {
        list-style: circle;
        list-style-position: inside;
        line-height: 1.5;
        margin-left: 20px;
    }
    #divAreasActuacao {
        display: flex !important;
        flex-wrap: wrap !important;
        width: 86% !important;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        height: 650px;
        justify-content: center !important;
    }
    .itensAreasActuacao {
        flex-basis: 19% !important;
        height: 35% !important;
        border-radius: 50% !important;
        margin: 0px 32px;
        top: 12px;
        position: relative;
        overflow: hidden;
        transition: 1.0s;
    }
    .itensAreasActuacao img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50% !important;
        object-fit: cover;
    }
    .itensAreasActuacao:hover p {
        opacity: 1;
        display: block;
    }
    .itensAreasActuacao:hover {
        box-shadow: 0 0 15px rgba(46, 166, 210, 0.95);
    }
    .itensAreasActuacao p {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: white !important;
        font-size: 30px;
        font-weight: 500;
        border-radius: 50%;
        background-color: rgba(30, 30, 30, 0.5);
        left: 0;
        padding: 0;
        margin: 0;
        line-height: 7.5;
        text-align: center;
        opacity: 0;
        transition: 1s;
        cursor: pointer;
    }
    #contentorDeTextos:nth-child(n) {
        margin: 0 !important;
        padding: 75px 135px;
    }
    #contentorDeTextos p {
        margin: 5px 0 0 0;
    }
    #descricaoAreasActuacao {
        width: 100%;
        margin-top: 100px;
        padding: 35px 0
    }
    .divDescricacaoAreasActuacao {
        width: 43.2%;
        height: 400px;
        margin-top: 20px;
        background-repeat: repeat;
        transition: 1.0s;
    }
    .divDescricacaoAreasActuacao:hover {
        box-shadow: none;
    }
    .divDescricacaoAreasActuacao div {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(30, 30, 30, 0.5);
        border-radius: 5px;
    }
    .divDescricacaoAreasActuacao div p, h2 {
        color: white !important;
        margin: 0;
        padding: 25px;
        border-radius: 5px;
    }
    .divDescricacaoAreasActuacao div h2 {
        text-align: center;
        font-size: 55px;
    }
    .divEsquerda {
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
        margin-left: 3.3%;
    }
    .divDireita {
        margin-left: 50%;
        border-radius: 5px;
        box-shadow: -4px 3px 10px rgba(0, 0, 0, 1);
    }
    #divGames {
        background-image: url('../IMG/AreasActucao/black-sony-ps4-dualshock-4-wireless-controller-687811.jpg');
    }
    #divNegocios {
        background-image: url('../IMG/AreasActucao/photo-of-woman-wearing-eyeglasses-3184405.jpg');
    }
    #divIntertenimento {
        background-image: url('../IMG/AreasActucao/beard-man-holding-cassette-lying-on-blue-and-violet-linen-3756766.jpg');
    }
    #divEducacao {
        background-image: url('../IMG/AreasActucao/woman-in-black-long-sleeve-dress-standing-on-brown-concrete-3186386.jpg');
    }
    #divMedicina {
        background-image: url('../IMG/AreasActucao/engineer-fitting-prosthetic-arm-3912962.jpg');
    }
    #divAutomoveis {
        background-image: url('../IMG/AreasActucao/female-engineer-testing-sound-system-3862622.jpg');
    }
    #divCidades {
        background-image: url('../IMG/AreasActucao/white-concrete-buildings-under-white-clouds-3722818.jpg');
        background-position-y: -200px;
    }
    #divRelacoes {
        background-image: url('../IMG/AreasActucao/turned-on-macbook-3205403.jpg');
    }
}

@media only screen and (max-device-width: 414px) {
    #divMenu>a>p {
        visibility: hidden;
    }
    #listaDesordenada>a>li {
        padding: 10px 5px;
    }
    #divSlide {
        position: relative;
        background-color: #2ea6d2;
        height: 400px;
        background-position-y: 0;
    }
    #divSlide div {
        position: relative;
        width: 100%;
        height: 100%;
    }
    #tituloCover {
        font-size: 35px !important;
    }
    #h2VantagensAprenderProgramar{
        padding: 25px 10px !important;
    }
    .divDescricacaoAreasActuacao {
        margin: 25px 0;
        width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    #videoAprenderProgramar {
        position: relative;
        left: 0;
        border-radius: 0;
        width: 100%;
        margin-left: 0;
    }
    #divConteudoPrincipal {
        width: 100%;
        height: auto;
        right: 0;
        position: relative;
        top: 1%;
    }
    #h1AreaActuacao {
        position: relative;
        top: 280px;
        font-size: 30px;
    }
    #divConteudoPrincipal>ul {
        position: relative;
    }
    #divAreasActuacao {
        width: 100% !important;
        position: relative;
        height: 540px;
        justify-content: center !important;
        margin-top: 260px;
    }
    .itensAreasActuacao {
        flex-basis: 44% !important;
        height: 27% !important;
        margin: 10px;
        top: 12px;
        position: relative;
    }
    .itensAreasActuacao p {
        line-height: 5;
    }
    #contentorDeTextos:nth-child(n) {
        padding: 0 0 0 10px;
        position: relative;
        margin-top: 150px !important;
    }
    .divDescricacaoAreasActuacao {
        overflow: auto;
    }
}

@media only screen and (min-width: 762px) and (max-width: 768px){
    #divSlide {
        position: relative;
        background-color: #2ea6d2;
        height: 400px;
        background-position-y: 0;
    }
}