@font-face {
    font-family: Roboto;
    src: url(Font/Roboto-Light.ttf)
}
html{
    font-size: 62.5%;
}
@media only screen and (max-width: 1750px) {
    #listaDesordenada a:nth-child(1){
        border-bottom: 2px solid #2ea6d2;
    }
    #li1 {
        color: #2ea6d2;
    }
    body {
        font-family: Roboto, Arial, 'Open Sans', 'Helvetica Nueue', sans-serif !important;
        background-color: #f9fafa;
        ;
    }
    #divSlide {
        margin-top: 45px;
        width: 100%;
        height: 555px;
        position: relative;
        background: url('../IMG/woman-in-pink-shirt-sitting-by-the-table-while-smiling-4143791.jpg');
        background-size: cover;
        background-position-y: -200px;
        background-repeat: no-repeat;
    }
    #divSlide div {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #2ea6d2ea , #ff00c898);
    }
    #divSlide div #tituloCover {
        position: absolute;
        top: 50%;
        font-size: 5.0rem;
        font-weight: 700;
        font-family: Roboto, Helvetica, "Opens Sans", Arial, "sans serif";
        color: white;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
    }
    div#contentorPrincipal {
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #videoAprenderProgramar {
        position: relative;
        left: 1.3%;
        border-radius: 5px;
        width: 54%;
    }
    #divAprenderProgramar {
        width: 100%;
        position: relative;
        left: 0;
        top: 3.5%;
        padding: 0;
        margin-bottom: 6.5rem;
    }
    #divConteudoPrincipal {
        width: 43%;
        height: auto;
        right: 0.5%;
        position: absolute;
        top: 0;
    }
    #divConteudoPrincipal p:nth-child(2){
        margin: 0;
        text-indent: 0;
        padding: 7px 70px 20px 2px;
        text-align: left;
    }
    #h1PorqueAprenderProgramar{
        padding: 0 0 1.5rem;
    }
    h1{
        font-family: Roboto, Arial, 'Open Sans', 'Helvetica Nueue', sans-serif;
        color: #0097ee;
        font-size: 3.1rem;
        font-weight: 700;
        padding: 15px 0;
    }
    h2 {
        font-size: 3.0rem;
        color: #0087d4;
    }
    h3{
        color: #006ba8;
        font-size: 2.0rem;
        margin-left: 2.5rem;
    }
    p {
        color: #444 !important;
        font-weight: lighter;
        font-family: Roboto;
        text-align: justify;
        line-height: 1.5;
        padding: 10px;
        font-size: 15px;
        font-weight: lighter;
        text-indent: 15px;
        line-height: 1.7;
        margin: 0 0px 32px 5px;
    }
    #divConteudoPrincipal>h2 {
        padding: 0px 20px 20px;
        font-size: 2.4rem;
    }
    #contentorDeTextos>h2 {
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
    }
    #contentorDeTextos>p {
        color: #222 !important;
        margin: 0;
        padding: 0;
        text-indent: 0;
        text-align: left;
        margin-left: 1.5rem;
        padding-right: 0.5rem;
    }
    #contentorDeTextos > p > strong{
        color: #006ba8;
    }
    .link-in-text:active, .link-in-text:link{
        color: #008ab4;
    }
    .link-in-text:hover, .link-in-text:visited{
        color: #00bcf5;
    }
    #divConteudoPrincipal>ul>li {
        font-family: Roboto;
        font-size: 14px;
        color: #444;
    }
    #divConteudoPrincipal ul li {
        list-style: circle;
        list-style-position: inside;
        line-height: 1.5;
        margin-left: 20px;
    }
    #divAreasActuacao {
        display: flex !important;
        flex-wrap: wrap !important;
        width: 86% !important;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        height: 650px;
        justify-content: center !important;
        
    }
    #divAreasActuacao h1{
        position: absolute;
        padding: 0;
    }
    .itensAreasActuacao:nth-child(2), .itensAreasActuacao:nth-child(3), .itensAreasActuacao:nth-child(4), .itensAreasActuacao:nth-child(5){
        margin-top: 8.5rem;
    }
    .itensAreasActuacao {
        flex-basis: 19% !important;
        align-items: center;
        height: 35%;
        border-radius: 5% !important;
        margin: 0px 32px;
        top: 12px;
        position: relative;
        overflow: hidden;
        transition: 1.0s;
        box-shadow: 0 0 10px #c2c2c2;
    }
    .itensAreasActuacao img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 5% !important;
        object-fit: cover;
    }
    .itensAreasActuacao:hover p {
        opacity: 1;
        display: block;
    }
    .itensAreasActuacao:hover {
        box-shadow: 0 0 10px #2ea6d2f2;
    }
    .itensAreasActuacao p {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: white !important;
        font-size: 30px;
        font-weight: 500;
        border-radius: 5%;
        background: linear-gradient(to right, #09c4fd98, #ff00c898);
        left: 0;
        padding: 0;
        margin: 0;
        line-height: 7.5;
        text-align: center;
        opacity: 0;
        transition: 1s;
        cursor: pointer;
        text-indent: 0 !important;
    }
    #contentorDeTextos:nth-child(n) {
        margin: 0 !important;
        padding: 0;
        position: relative;
        margin-left: 50% !important;
        transform: translateX(-50%);
        width: 80%;
    }
    #contentorDeTextos ul li {
        margin: 0;
        font-size: 15px;
        margin-top: 5px;
        color: #f0f0f0;
        background-color: #006ba8;
        position: relative;
        width: max-content;
    }
    .pointsToTalkAbout {
        margin: 10px 15px;
    }
    .pointsToTalkAbout a{
        text-decoration: none;
    }
    .pointsToTalkAbout a:link li, .pointsToTalkAbout a:active li{
        transition: 1.0s;
        background-color: #006ba8;
    }
    .pointsToTalkAbout a:hover li, .pointsToTalkAbout a:focus{
        text-decoration: underline;
    }
    .pointsToTalkAbout a li {
        padding: 5px;
        list-style-position: inside;
        list-style: none;
    }
    #contentorDeTextos > ul > p{
        margin: 5px 0 0 15px;
        text-indent: 0;
    }
    .pPointsToTalkAbout{
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        display: none;
    }
    #descricaoAreasActuacao {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 0;
        padding: 10px 0;
    }
    .divDescricacaoAreasActuacao {
        position: relative;
        width: 38.2%;
        height: 295px;
        margin-top: 20px;
        background-repeat: repeat;
        transition: 1.0s;
        display: inline-block;
        top: 0;
        border-radius: 10px !important;
    }
    .divDescricacaoAreasActuacao:hover {
        box-shadow: none;
        top: -10px;
    }
    .divDescricacaoAreasActuacao > div {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #09c4fd98, #ff00c898);
        border-radius: 2px;
        overflow-y: auto;
        border-radius: 10px !important;
    }
    .divDescricacaoAreasActuacao > div > h2 {
        margin: 0;
        padding: 25px;
        border-radius: 10px 10px 0 0;
        color: #fff;
    }

    .divDescricacaoAreasActuacao > div > p {
        color: #fff !important;
        margin: 0 !important;
        border-radius: 0 0 10px 10px;
        font-weight: 600;
    }
    .divDescricacaoAreasActuacao > div > h2 {
        text-align: center;
        font-size: 5.0rem;
    }
    .divEsquerda {
        border-radius: 2px;
        box-shadow: 3px 3px 10px #b3b3b3ec;
        margin-left: 11.3%;
        margin-right: 10px;
    }
    .divDireita {
        border-radius: 2px;
        box-shadow: -4px 3px 10px #b3b3b3ec;
        margin-left: 10px;
    }
    #divGames {
        background-image: url('../IMG/AreasActucao/black-sony-ps4-dualshock-4-wireless-controller-687811.jpg');
    }
    #divNegocios {
        background-image: url('../IMG/AreasActucao/photo-of-woman-wearing-eyeglasses-3184405.jpg');
    }
    #divIntertenimento {
        background-image: url('../IMG/AreasActucao/beard-man-holding-cassette-lying-on-blue-and-violet-linen-3756766.jpg');
    }
    #divEducacao {
        background-image: url('../IMG/AreasActucao/woman-in-black-long-sleeve-dress-standing-on-brown-concrete-3186386.jpg');
    }
    #divMedicina {
        background-image: url('../IMG/AreasActucao/engineer-fitting-prosthetic-arm-3912962.jpg');
    }
    #divAutomoveis {
        background-image: url('../IMG/AreasActucao/female-engineer-testing-sound-system-3862622.jpg');
    }
    #divCidades {
        background-image: url('../IMG/AreasActucao/white-concrete-buildings-under-white-clouds-3722818.jpg');
        background-position-y: -200px;
    }
    #divCidades a:link, :visited {
        text-decoration: none;
        color: #222;
        background-color: #fff;
        font-weight: 700;
        padding: 2px;
    }
    #divCidades a:hover {
        background-color: #009494;
        color: #fff;
    }
    #divRelacoes {
        background-image: url('../IMG/AreasActucao/turned-on-macbook-3205403.jpg');
    }
}

@media only screen and (max-width: 414px) {
    #divMenu>a>p {
        visibility: hidden;
    }
    #listaDesordenada>a>li {
        padding: 10px 5px;
    }
    #divConteudoPrincipal p:nth-child(2){
        padding: 7px 5px 20px 5px;
    }
    #h1PorqueAprenderProgramar {
        padding: 0 0.5rem 1.5rem;
    }
    #videoAprenderProgramar {
        margin-bottom: 20px;
    }
    #divSlide {
        height: 400px;
        background-position-y: 0;
    }
    #h1AreaActuacao{
        font-size: 2.2rem !important;
        position: relative;
    }
    #divAreasActuacao{
        margin-top: 0 !important;
    }
    #divAprenderProgramar{
        margin-bottom: 4.5rem;
    }
    #tituloCover {
        font-size: 35px !important;
    }
    #h2VantagensAprenderProgramar {
        padding: 25px 10px !important;
    }
    .divDescricacaoAreasActuacao {
        margin: 25px 0;
        width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    .itensAreasActuacao p {
        opacity: 1;
        font-size: 2.0rem;
    }
    .itensAreasActuacao:nth-child(2), .itensAreasActuacao:nth-child(3), .itensAreasActuacao:nth-child(4), .itensAreasActuacao:nth-child(5){
        margin-top: 1.5rem;
    }
    .itensAreasActuacao:nth-child(2), .itensAreasActuacao:nth-child(3){
        margin-top: 3.5rem;
    }
    #videoAprenderProgramar {
        position: relative;
        left: 0;
        border-radius: 0;
        width: 100%;
        margin-left: 0;
    }
    #divConteudoPrincipal {
        width: 100%;
        height: auto;
        right: 0;
        position: relative;
        top: 1%;
    }
    #divConteudoPrincipal>ul {
        position: relative;
    }
    #divAreasActuacao {
        width: 100% !important;
        display: flex;
        position: relative;
        height: 540px;
        justify-content: center !important;
        margin-top: 260px;
    }
    .itensAreasActuacao {
        flex-basis: 44% !important;
        height: 27%;
        margin: 10px;
        position: relative;
    }
    #contentorDeTextos:nth-child(n) {
        margin: 0 !important;
        margin-top: 15.5rem !important;
        padding: 0;
        position: relative;
        margin-left: 0;
        transform: none;
        width: 96%;
    }
    #contentorDeTextos>h2 {
        padding: 15px 0 5px 20px;
    }
    .divDescricacaoAreasActuacao {
        overflow: auto;
    }
    #descricaoAreasActuacao {
        margin-top: 0px !important;
    }
    .divDescricacaoAreasActuacao > div > h2 {
        font-size: 3.5rem !important;
    }
}

@media only screen and (max-width: 320px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.75rem !important;
    }
    #divAreasActuacao{
        width: 100%;
    }
    #divSlide{
        background-position-x: -15rem;
    }
    .itensAreasActuacao {
        flex-basis: 44% !important;
        height: 27%;
        margin: 5px;
        position: relative;
    }
    #h1AreaActuacao{
        font-size: 1.75rem;
    }
    #divAprenderProgramar {
        margin-bottom: 2.0rem;
    }
    #h2VantagensAprenderProgramar {
        padding: 0 1rem 1.5rem 1rem !important;
    }
    #contentorDeTextos:nth-child(n){
        width: 100%;
    }
    #contentorDeTextos > *{
        margin-left: 0 !important;
    }
    #contentorDeTextos>h2 {
        padding: 15px 0 5px 1rem;
    }
    #contentorDeTextos>h3 {
        font-size: 1.5rem;
        padding-left: 1.0rem;
    }
    .divDescricacaoAreasActuacao > div > h2 {
        font-size: 2.5rem !important;
    }
}

@media only screen and (min-width: 762px) and (max-width: 768px) {
    #divAprenderProgramar {
        width: 100%;
        position: relative;
        height: auto;
        left: 0;
        top: 3.5%;
        padding: 0;
    }
    #videoAprenderProgramar {
        position: relative;
        left: 0;
        transform: none;
        border-radius: 0;
        width: 100%;
        margin-left: 0;
    }
    #divConteudoPrincipal {
        position: relative;
        width: 70%;
        margin: 0;
        padding: 0;
        margin: 20px auto 0 auto;
    }
    #divSlide {
        background-position-y: 0;
    }
    .itensAreasActuacao {
        flex-basis: 24% !important;
        height: 32% !important;
        margin: 0px 2px;
    }
    #divConteudoPrincipal>h2 {
        padding: 0px 0px 20px 20px;
    }
    #divAreasActuacao {
        margin-top: -50px;
    }
    #contentorDeTextos:nth-child(n) {
        margin: 0 !important;
        padding: 10px 75px;
    }
    #descricaoAreasActuacao {
        width: 90%;
        margin-top: 0px;
        padding: 35px 0;
    }
    .divDescricacaoAreasActuacao {
        width: 75%;
        height: 400px;
        margin-top: 20px;
        background-repeat: repeat;
        left: 55%;
        position: relative;
        transform: translateX(-50%);
    }
    .divDireita {
        margin-left: 0%;
    }
    .divEsquerda {
        margin-left: 0%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #divAprenderProgramar {
        width: 100%;
        position: relative;
        height: auto;
        left: 0;
        top: 3.5%;
        padding: 0;
    }
    #divSlide {
        background-position-y: 0;
    }
    #divConteudoPrincipal {
        width: 100%;
    }
    #videoAprenderProgramar {
        position: relative;
        left: 0;
        transform: none;
        border-radius: 0;
        width: 100%;
        margin-left: 0;
    }
    #divConteudoPrincipal {
        position: relative;
        width: 70%;
        margin: 0;
        padding: 0;
        margin: 20px auto 0 auto;
    }
    .itensAreasActuacao {
        flex-basis: 24% !important;
        height: 32% !important;
        margin: 0px 2px;
    }
    #divConteudoPrincipal>h2 {
        padding: 0px 0px 20px 20px;
    }
    #divAreasActuacao {
        margin-top: -20px;
    }
    #h1AreaActuacao {
        margin-top: 100px;
    }
    #contentorDeTextos:nth-child(n) {
        margin: 0 !important;
        padding: 10px 75px;
    }
    #descricaoAreasActuacao {
        width: 90%;
        margin-top: 0px;
        padding: 35px 0;
    }
    .divDescricacaoAreasActuacao {
        width: 55%;
        height: 400px;
        margin-top: 20px;
        background-repeat: repeat;
        left: 55%;
        position: relative;
        transform: translateX(-50%);
    }
    .divDireita {
        margin-left: 0%;
    }
    .divEsquerda {
        margin-left: 0%;
    }
}