@font-face {
    font-family: Roboto;
    src: url(../Font/Roboto-Light.ttf)
}
body {
    background-size: cover;
}    
@media only screen and (max-device-width: 1750px) {
    #li2 {
        background-color: #2ea6d2;
        color: white;
    }
    div#divSuperior {
        height: 550px;
        width: 100%;
        margin-top: 33px;
        position: relative;
        background-image: url(../IMG/index.png);
        background-repeat: no-repeat;
        background-size: 950px 550px;
        background-position-x: center;
        top: 50px;
    }
    div#divSuperior video {
        height: 400px;
        width: 700px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
    }
    div#divSuperior video:focus {
        border-color: none !important;
        outline: 0;
        box-shadow: none !important;
    }
    div#divSuperior .ocultarLogo {
        position: absolute;
        z-index: 1;
        width: 80px;
        height: 18px;
        background: #1d1e21;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5.7%;
    }
    div#divConteudo {
        position: relative;
        top: 100px;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    div#divConteudo h1 {
        color: #555555;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 800;
        margin: 0 0 30px 5px; 
    }
    div#divConteudo p {
        color: rgb(78, 72, 72);
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: lighter;
        text-indent: 10px;
        line-height: 1.7;
        margin: 0 0px 32px 5px; 
    }
    #buttonGoTop {
        position: fixed;
        right: 2.5%;
        top: 560px;
        cursor: pointer;
        width: 60px;
        height: 60px;
        z-index: 1;
        display: block;
    }    
    
    footer#footerRodape {
        background-color: #2ea6d2;
        width: 100%;
        height: 250px;
        position: relative;
        bottom: 0;
        margin-top: 12.5%;
    }
    #divRodape {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #1e6e96;
        alt: 'Negócio vetor criado por freepik - br.freepik.com';
        background-image: url(../IMG/2968383.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position-y: 200px;
        background-position-x: 250px;
        border-top: 5px solid #2ea6d2;
    }
    #divRodape #divRodapeSocialMidia {
        position: absolute;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        top: 2%;
        /*right: 7.7%;*/
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2px;
    }
    #divRodape #divRodapeSocialMidia img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    #divRodape #divRodapeSocialMidia #direitosParagrafo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        margin: 0 !important;
        padding: 0 !important;
    }
    #divLogoRodape {
        position: absolute;
        top: 2%;
        left: 5.5%;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    #divLogoRodape a {
        position: absolute;
        top: 0;
        left: 0;
    }
    #divLogoRodape img {
        position: absolute;
        top: 0;
        left: 2%;
        width: 50px;
        height: 50px;
    }
    #divLogoRodape a p {
        position: absolute;
        top: 1%;
        left: 7%;
        color: #575858;
        font-size: 16px;
        font-weight: lighter;
        margin: 6px 0 0 10px;
        padding: 0;
        padding: 0px 0px 0px 50px;
        text-indent: 0;
        line-height: 1.2;
    }
    #divRodapeInfo {
        width: 87%;
        height: 75%;
        list-style: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        top: 65%;
        left: 5.2%;
        transform: translateY(-50%);
        border-radius: 5px;
    }
    #divRodapeInfo li {
        width: 235px;
        height: 68;
        display: inline-block;
        top: 0;
        margin-left: 5px;
        padding: 5px;
        border-left: 1px solid #555;;
    }
    #divRodapeInfo li h3 {
        padding: 2px 0px;
        font-size: 14px;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #001016;
    }
    #divRodapeInfo li h4 {
        font-size: 13px;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 200;
        color: #00161f;
        margin-left: 10px;
        padding: 1px;
        cursor: pointer;
    }
}


@media only screen and (max-device-width: 768px) {
    body {
        background-position-x: -200px !important;
        background-position-y: 0px !important;
    }
    nav ul a img{
        display: none;
    }
    .toggleMenu {
        display: block !important;
        top: 0 !important;
    } 
    #divSuperior {
        width: 100% !important;
        height: 210px !important;
        margin-top: 10px !important;
    }
    #divSuperior video {
        width: 100% !important;
        height: auto !important;
        left: unset;
        transform: unset;
        margin: 0;
        top: 0 !important;
        position: absolute;
    }
    nav ul {
        display: none;
        margin-top: 30px !important;
    }
    nav ul a {
        display: block;
    }
    nav ul a p {
        display: none !important;
    }

    #divConteudo {
        width: 88% !important;
        left: 0 !important;
        margin: 0 !important;
        transform: unset !important;
        top: 285px  !important;
        padding-left: 20px !important ;
    }
    #divConteudo h1 {
        font-size: 25px !important;
    }

    .ocultarLogo {
        display: none;
    }
    #divSuperior {
        background: unset !important;
        top: 24px !important;
    }
    
    #divRodape #divRodapeSocialMidia {
        top: 2%;
        right: 30%;
        margin-left: 42.5%;
        z-index: 1;
    }
    #divRodape {
        background-position-y: 130px;
        background-position-x: -100px;
    }
    #buttonGoTop {
        display: none !important;
    }
    footer#footerRodape {
        margin-top: 43.5%;
    }
}







@media only screen and (max-device-width: 414px) {
    nav ul  {
        text-align: center;
    }
    nav ul a img {
        display: none;
    }
    nav ul a li {
        font-size: 14px;
        padding: 5px 10px !important;
        line-height: 20px;
    }
    #divConteudo {
        top:  63px  !important;
    }
    #divRodape {
        height: 400px !important;
        background-position-x: -180px;
        background-position-y: 100px;
    }
    #divRodapeInfo {
        top: 56% !important;
        height: 82%;
    }
    #divRodape #divRodapeSocialMidia {
        top: 2%;
        right: 30%;
        margin-left: 37.5%;
        z-index: 1;
    }
}








@media only screen and (max-device-width: 411px) {
    #divSlide {
        height: 300px !important;
    }
    #divAprenderProgramar {
        top: 20.5% !important;
    }
}







@media only screen and (max-device-width: 375px) {
    nav ul  {
        text-align: left;
    }
    nav ul a li {
        font-size: 13px;
        font-weight: lighter !important;
        line-height: 20px;
    }
    #divRodapeInfo {
        width: 280px;
    }
    #divRodape #divRodapeSocialMidia {
        margin-left: 35.5%;
        top: 2.5%;
    }
    #divRodape #divRodapeSocialMidia img{
        width: 45px;
        height: 45px;
    }
    #divRodape {
        margin-top: -20px;
    }
}




@media only screen and (max-device-width: 360px) {
    nav ul  {
        text-align: center;
    }
    nav ul a li {
        font-size: 12px;
        font-weight: lighter !important;
        padding: 5px !important;
        line-height: 20px;
    }
}





@media only screen and (max-device-width: 325px) {

}





@media only screen and (max-device-width: 320px) {
    nav ul  {
        text-align: center;
    }
    nav ul a li {
        font-size: 10px;
        font-weight: 500;
        padding: 5px !important;
        line-height: 20px;
    }
}
