@font-face {
    font-family: Roboto;
    src: url(../Font/Roboto-Light.ttf)
}
* {
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
ul, ol, li {
    list-style-type: none;
}
h1, h2, h3, p{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
}
p {
    font-size: 1.4rem;
    text-align: justify;
    color: #444;
}