html{
    font-size: 62.5%;
}
@media only screen and (max-device-width: 1750px) {
    body {
        background-color: #fbfbfb;
    }
    h1, h2, p {
        color: #54595F;
    }
    #coverImgDiv {
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: 45px;
        height: 500px;
        background-size: cover;
    }
    .filterDiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .post-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .post-data .post-title {
        color: white;
        text-align: center;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 5.0rem;
    }
    .post-data .ul-of-post-meta-data {
        color: white;
        font-family: Roboto, "Opens Sans", Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    .post-data .ul-of-post-meta-data .meta-data-of-post {
        margin: 10px 5px;
        display: inline-block;
        background-color: rgba(20, 20, 20, 0.623);
        padding: 10px;
        border-radius: 0;
        font-size: 1.4rem;
    }
    #mainConteiner {
        margin-left: 12%;
        padding: 3.5em 4.34em;
        width: 65%;
        background-color: #fbfbfb;
    }
    #mainConteiner article{
        border-left: 1px solid #eaeaea;
    }
    #mainConteiner article h1 {
        text-align: left;
        font-size: 2.5rem;
        line-height: 1.65;
        margin-bottom: 40px;
        margin-top: -2px;
    }
    #fotoDeCapa {
        margin-top: -4% !important;
    }
    #mainConteiner article #textContent {
        width: 100%;
    }
    #mainConteiner article #textContent h2 {
        font-size: 2.5rem;
        text-align: left;
        padding: 5px;
        margin: 35px 0px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    #mainConteiner article #textContent p {
        text-align: left;
        line-height: 2;
        padding: 5px;
        font-size: 1.6rem;
        margin: 10px 0;
    }
    #mainConteiner article #textContent p:nth-child(2)::first-letter {
        font-size: 2.2rem;
    }
    #mainConteiner article #textContent p:nth-child(2){
        text-indent: 2rem;
    }
    #mainConteiner article #textContent img {
        width: 65%;
        margin-left: 50%;
        transform: translateX(-50%);
        height: 400px;
    }
    #buttonIndice{
        border: none;
        padding: 10px 20px;
        background-color: #54595F;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #54595F;
    }

    #divIndice{
        position: relative;
        margin-top: 10px;
        width: 100%;
        max-height: 163px;
        min-height: auto;
        overflow: auto;
        background-color: #fbfbfb;
        border-radius: 5px;
        padding: 5px 0;
        display: none;
    }
    #divIndice ol > li {
        margin: 5px 5px;
        list-style-type: decimal !important;
        list-style-position: inside;
        font-size: 1.6rem;
        font-family: Roboto;
        color: #54595F;
    }
    #divIndice > ol > li > a {
        color: #54595F;
        margin-top: 5px;
        text-decoration: none;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.6rem;
    }
    #divIndice ol > li > ul > li > a {
        padding-left: 15px;
        font-weight: 500;
    }
    #divIndice ol > li > a:hover{
        transition: 0.3s;
        color: #54595F;
        background-color: #54595f15;
    }
    .readBar{
        position: fixed;
        width: 100px;
        height: 3px;
        background: linear-gradient(to left, #2ea6d2 , #ff00c8);
        top: 42px;
        z-index: 1;
    }

    .contactosAutor {
        position: relative;
        margin-top: 25px;
        height: 50px;
        background-color: #ffffff;
        border: 2px solid linear-gradient(to left, #2ea6d2 , #ff00c8);
        padding: 5px 0 5px 5px;
    }
    .contactosAutor img {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .contactosAutor div {
        position: absolute;
        left: 50px;
    }
    .contactosAutor div p {
        color: #141414;
        font-weight: 700;
        padding: 5px 10px;
        top: 0;
    }
    .contactosAutor div ul {
        margin-left: 10px;
        margin-top: 2px;
    }
    .contactosAutor div ul a {
        text-decoration: none;
        background-color: #fff;
        color: #353535;
        font-family: monospace;
        padding: 2px;
        margin-right: 10px;
        font-size: 1.5rem;
    }
    .contactosAutor div ul a:hover{
        transition: 0.3s;
        background: linear-gradient(to left, #2ea6d2 , #ff00c8);
        color: #fff;
    }
}
@media only screen and (max-device-width: 414px){
    #mainConteiner {
        margin-left: 0%;
        padding: 1.5em 0.6em;
        width: 90%;
        background-color: #fbfbfb;
    }
    .contactosAutor{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media only screen and (min-width: 762px) and (max-width: 768px) {
    #mainConteiner {
        margin-left: 8%;
        padding: 1em 1em;
        width: 80%;
        background-color: #fbfbfb;
    }
    .post-data .ul-of-post-meta-data .meta-data-of-post {
        margin: 10px 5px;
        padding: 5px;
        border-radius: 0;
    }
    .post-data .post-title {
        color: white;
        font-size: 4.0rem;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    #mainConteiner {
        margin-left: 8%;
        padding: 1em 1em;
        width: 80%;
        background-color: #fbfbfb;
    }
}
